<ion-view title="Über">
    <ion-content class="content">
        <h3>Informationen</h3>
        Diese App ist lediglich zu nichtkommerziellen Demonstrationszwecken gedacht. Jegliche kommerzielle Nutzung wird
        untersagt.
        <br/>
        Entwickler: Home of Software
        <h3>Rechtliches</h3>
        Verwendete Bilder:
        <ul>
            <li>https://de.wikipedia.org/wiki/Schraubendreher#/media/File:Magnetschraubendreher_IMGP1940.jpg unter der
                CC BY_SA 2.0 de von Smial
            </li>
            <li>https://de.wikipedia.org/wiki/Rio-Palisander#/media/File:Rio-Palisander,_dunkel_Holz.JPG unter der CC
                BY-SA 3.0 von Das Ohr~commonswiki
            </li>
            <li>
                https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Gordijnen_aan_venster.JPG/1024px-Gordijnen_aan_venster.JPG
                unter der Lizenz CC BY-Sa 3.0 von Niuew
            </li>
        </ul>
    </ion-content>
</ion-view>