<ion-side-menus enable-menu-with-back-views="false" ng-controller="AppCtrl">
    <ion-side-menu-content name="sideMenuContent">
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menü
            </h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/start">
                    Übersicht
                </ion-item>
                <ion-item menu-close href="#/app/todos">
                    Einkaufsliste
                </ion-item>
                <ion-item menu-close href="#/app/map">
                    Karte
                </ion-item>
                <ion-item menu-close href="#/app/products">
                    Produkte
                </ion-item>
                <ion-item menu-close href="#/app/search">
                    Suchen
                </ion-item>
                <ion-item menu-close href="#/app/about">
                    Über
                </ion-item>
                <ion-item menu-close ng-click="login()">
                    Login
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
