<ion-view view-title="Produkte">
    <ion-content>
        <ion-list class="wrapping-list">
            <ion-item ng-repeat="product in products" href="{{prodLink}}/{{product.id}}"
                      class="item-thumbnail-left item">
                <img ng-src='{{product.img}}'/>

                <h2>{{product.title}}</h2>

                <p>{{product.desc | limitTo: 50}}{{product.desc.length > 50 ? '...' : ''}}</p>
                <p ng-show={{showprice}} >{{product.price}} € {{product.unit}}                <button ng-click="addToCart(product)" class="button button-light add-to-cart">
                    <i class="icon ion-ios-cart"></i>
                </button>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
