<ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view view-title="Produkt">
    <ion-content class="card">
        <section class="item item-text-wrap">
            <h1>{{product.title}}</h1>
            <img ng-src='{{product.img}}' class="img-responsive"/>
            {{product.desc}}
            <br/>
            <button class="button icon-left ion-ios-cart" ng-click="addToCart(product)" ng-show="found">Auf die Einkaufsliste</button>
        </section>
    </ion-content>
</ion-view>
