<ion-view view-title="Suchen">
    <ion-content class="content">
        <form id="search" ng-submit="doSearch()">
            <div class="list">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Suchen" value=" " ng-model="search.term">
                </label>

                <label class="item">
                    <button class="button button-block" type="submit">Suchen</button>
                </label>
            </div>
        </form>

        <div id="results">
            <h2>Suchergebnisse</h2>
            <strong class="assertive" ng-show="(products|filter:{title: search.term}).length == 0">Nichts gefunden!</strong>
            <ion-list>
                <ion-item ng-repeat="product in products|filter:{title: search.term}" href="#/app/product/{{product.id}}"
                          class="item-thumbnail-left">
                    <img ng-src='{{product.img}}'/>

                    <h2>{{product.title}}</h2>

                    <p>{{product.desc | limitTo: 50}}{{product.desc.length > 50 ? '...' : ''}}</p>
                    <span class="pull-right">{{product.price}} € {{product.unit}}</span>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
