<ion-view view-title="Übersicht">
    <ion-content class="">
        <ion-slide-box>
            <ion-slide>
                <div class="box"><h1 class="text-center">Sonderangebot</h1>

                    <img src="img/bohrmaschine.png" class=""/>

                    <div class="angebot">
                        <h5>DrillBill DH-60/2011</h5>
                        <span class="angebot-preis">
                        Unser Preis: <s>10</s> 5€
                            </span>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box"><h1>Sonderangebot</h1>
                    <img src="img/bilderrahmen.png" class=""/>

                    <div class="angebot">
                        <h5>Bilderrahmen, blau (holz)</h5>
                        <span class="angebot-preis">
                        Unser Preis: <s>40</s> 35€
                            </span>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box"><h1>Rabatte</h1>
                    <ion-list>
                        <ion-item class="assertive">50€ Einkaufsgutschein (ab einem Warenwert von 250€)</ion-item>
                        <ion-item>100€ Einkaufsgutschein (ab einem Warenwert von 2500€)</ion-item>
                        <ion-item>10% auf alles (außer Tiehrnahrung)</ion-item>
                    </ion-list>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
