<ion-view view-title="Einkaufsliste" ng-controller="TodoCtrl">
    <ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-compose" ng-click="insert()"></button>
    </ion-nav-buttons>
    <ion-content class="content">

        <ion-list show-delete="false" can-swipe="true" class="item-remove-animate item-text-wrap">
            <ion-item ng-repeat="todo in todos" href="#/app/product/{{todo.pid}}" class="item item-remove-animate">{{todo.name}}
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="moveItem(todo, $fromIndex, $toIndex)">
                </ion-reorder-button>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="removeItem($index)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>