/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

//Include bourbon and neat
@import "bourbon";
@import "neat";

/** Generell **/
.scroll {
  height: 100%;
}

.content {
  margin: 10px;
  height: 100%;
}

section {
  @include outer-container();
}

article {
  font-weight: normal;
  @include span-columns(6);
}

aside {
  @include span-columns(6);
}

.img-responsive {
  //Make images responsive
  width: 100%;
  height: auto;
}

.pull-right {
  float: right;
}

/* Karte */

body {
  padding: 0;
  margin: 0;
}

html, body, #mall-map {
  height: 100%;
}

/** Startseite **/
.slider {
  height: 100%;
}

.box {
  padding: 10px;
  min-height: 100%;

  img {
    height: 50%;
    width: 100%;
  }

  h1 {
    text-align: center;
  }
}

.blue {
  background-color: blue;
}

.angebot, .angebot > h5 {
  font-size: x-large;
  text-align: center;
}


.angebot-preis {
  font-size: xx-large;
  color: $assertive;
}

.add-to-cart {
  vertical-align: middle;
  min-height: 0;
}